.navbar-brand h3 {margin: 0px auto 0px;}



.menu-details {background-color: pink;
padding: 10px;
margin: 10px 0px;}

h2 {margin-top: 100px;}

#chicken {background-color:yellow; }
#beef {background-color: #42e6ff;}
#pork {background-color: #d9edf7;}


@media (max-width: 420px) {
  /* Header */

  .navbar-brand h3 { /* Restaurant name */
  font-size: 7vw;
  }
  
}

